footer {
  margin-bottom: -30px;
  background-color: transparent;
}

.wrapper .started {
  margin-bottom: 30px;
}

.fill {
  border-radius: 5px;
}

.d-none {
  display: none !important;
}

.box-item .image .imagedalam {
  border-radius: 5px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
  height: 210px !important;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.075);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts .censor {
  padding: 3px 8px;
  border-radius: 5px;
  cursor: pointer;
  color: black;
}
.contacts .hide {
  background-color: rgb(230, 230, 230);
  color: rgb(230, 230, 230);
}

.skills .skill-badge {
  background-color: rgb(230, 230, 230);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}
.skills .skill-badge ion-icon {
  margin-bottom: -3.5px;
  font-size: 17px;
}

.resume-items .resume-item .name {
  margin-left: 10px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

html {
  scrollbar-width: thin;
}

body::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

header {
  background-color: transparent;
}
header .button-dark {
  text-decoration: none !important;
  font-size: 20px;
  right: -80px;
  top: -80px;
  position: absolute;
  cursor: pointer;
  width: 50px !important;
  height: 50px;
  background: #fff0f0;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none !important;
  transition: all 1.2s;
}
header .button-dark:hover {
  border: none;
  box-shadow: none;
}
header .button-dark .fa-moon {
  color: rgb(253, 209, 12);
}
header .button-dark .fa-sun {
  color: rgb(255, 197, 73);
}
header .show-sun {
  right: 30px;
  top: 0;
}

@media only screen and (max-width: 600px) {
  footer {
    transition: all 1.5s;
    margin-bottom: -100px;
  }
  .show-footer {
    transition: all 1s;
    margin-bottom: 0;
  }
  .skills .skill-badge {
    background-color: rgb(230, 230, 230);
    padding: 5px 10px;
    border-radius: 5px;
    margin: 3px 1px;
    display: inline-block;
  }
  .skills .skill-badge ion-icon {
    margin-bottom: -3.5px;
    font-size: 17px;
  }
}